<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Sistema</h1>
        <p>Gerencie suas tarefas e cadastre usuários.</p>
        <a href="{% url 'cadastro_usuario' %}">Cadastrar Usuário</a>
        <a href="{% url 'cadastro_tarefa' %}">Cadastrar Tarefa</a>
        <a href="{% url 'lista_usuarios' %}">Lista de Cadastros</a>
    </div>
</body>
</html>
